.boxmodel{
        width: 350px;
        padding: 10px;
        border: 5px dotted green;
        margin: 0;
        background-color: burlywood;
        box-sizing: border-box;
        text-align: center;
        }